## Pre-Transformed Data

In [46]:
import pandas as pd
import re

In [47]:
df = pd.read_csv('data_collection/test', index_col=0)

In [21]:
df.head()

,rank,title,author,rating,cover,num_pages,publisher
0,#1,Too Much and Never Enough: How My Family Creat...,Mary L. Trump Ph.D.,None,Hardcover:,Hardcover: 240 pages,Publisher: Simon & Schuster; 1 edition (July 2...
1,#2,The Room Where It Happened: A White House Memoir,John Bolton,3.2 out of 5 stars,Hardcover:,Hardcover: 592 pages,"Publisher: Simon & Schuster (June 23, 2020)"
2,#3,White Fragility: Why It's So Hard for White Pe...,Robin DiAngelo,4.2 out of 5 stars,Paperback:,Paperback: 192 pages,Publisher: Beacon Press; Reprint edition (June...
3,#4,How to Be an Antiracist,Ibram X. Kendi,4.7 out of 5 stars,Hardcover:,Hardcover: 320 pages,Publisher: One World; First Edition edition (A...
4,#5,Stamped from the Beginning: The Definitive His...,Ibram X. Kendi,4.8 out of 5 stars,Paperback:,Paperback: 608 pages,Publisher: Bold Type Books; Reprint edition (A...

In [4]:
df.rating

0                   None
1     3.2 out of 5 stars
2     4.2 out of 5 stars
3     4.7 out of 5 stars
4     4.8 out of 5 stars
             ...
95    4.4 out of 5 stars
96    4.6 out of 5 stars
97    4.4 out of 5 stars
98    4.7 out of 5 stars
99    4.7 out of 5 stars
Name: rating, Length: 100, dtype: object

## Rating

In [14]:
df.rating

0                   None
1     3.2 out of 5 stars
2     4.2 out of 5 stars
3     4.7 out of 5 stars
4     4.8 out of 5 stars
             ...
95    4.4 out of 5 stars
96    4.6 out of 5 stars
97    4.4 out of 5 stars
98    4.7 out of 5 stars
99    4.7 out of 5 stars
Name: rating, Length: 100, dtype: object

In [22]:
#create a function that converts the rating from a string object to a float.

def convert_rating(x):
    if x == 'None':
        return 0
    else:
        return float(x[0:3])
    
df['rating'].apply(lambda x: convert_rating(x))

0     0.0
1     3.2
2     4.2
3     4.7
4     4.8
     ...
95    4.4
96    4.6
97    4.4
98    4.7
99    4.7
Name: rating, Length: 100, dtype: float64

## Cover

In [18]:
df.cover

0                 Hardcover:
1                 Hardcover:
2                 Paperback:
3                 Hardcover:
4                 Paperback:
               ...
95    Mass Market Paperback:
96                Paperback:
97                Hardcover:
98                Paperback:
99                Hardcover:
Name: cover, Length: 100, dtype: object

In [48]:
#lets create a function that converts all this data to a simple boolean value. 1 if its a hardcover. 0 if its not
import re

def convert_cover_data(cover):
    lower_co = cover.lower()
    if re.match('hardcover', lower_co):
        return int(1)
    elif re.match('paperback', lower_co):
        return int(0)

In [49]:
df.cover.apply(lambda x: convert_cover_data(x))

0     1.0
1     1.0
2     0.0
3     1.0
4     0.0
     ...
95    NaN
96    0.0
97    1.0
98    0.0
99    1.0
Name: cover, Length: 100, dtype: float64

numpy.float64

In [44]:
df['cover'][0]

1.0

## num_pages

In [6]:
#create a function that converts the values in this columns to an integer

df.num_pages

0                 Hardcover: 240 pages
1                 Hardcover: 592 pages
2                 Paperback: 192 pages
3                 Hardcover: 320 pages
4                 Paperback: 608 pages
                    ...
95    Mass Market Paperback: 224 pages
96                Paperback: 352 pages
97                Hardcover: 256 pages
98                Paperback: 428 pages
99                Hardcover: 448 pages
Name: num_pages, Length: 100, dtype: object

In [51]:
import re

def convert_num_page_to_int(num_page):
    num = re.findall("\d+", num_page)
    if len(num) > 0:
        return int(num[0])
    else:
        return 'NaN'

 
df['num_pages'].apply(lambda x: convert_num_page_to_int(x))

In [54]:
df['num_pages']

0     240
1     592
2     192
3     320
4     608
     ...
95    224
96    352
97    256
98    428
99    448
Name: num_pages, Length: 100, dtype: object

## publisher info

In [4]:
#create a function that cleans up the publisher column

df.publisher

0     Publisher: Simon & Schuster; 1 edition (July 2...
1           Publisher: Simon & Schuster (June 23, 2020)
2     Publisher: Beacon Press; Reprint edition (June...
3     Publisher: One World; First Edition edition (A...
4     Publisher: Bold Type Books; Reprint edition (A...
                            ...
95    Publisher: Penguin Books; Reissue edition (Dec...
96     Publisher: Lake Union Publishing (July 16, 2019)
97    Publisher: Sourcebooks; 1 edition (January 28,...
98    Publisher: American Psychological Association;...
99    Publisher: Little, Brown and Company (June 8, ...
Name: publisher, Length: 100, dtype: object

In [ ]:
def convert_publisher(publisher):
    lower_case = publisher.lower()
    if re.match("publish:", publisher):